* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    background-color: rgb(177, 177, 177);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header {
    background-color: rgb(248, 249, 248);
}

main {
    background-color: rgb(17, 121, 20);
    height: 800px;
    padding: 40px;
    margin: 10px;
}

img {
    width: 95%;
    max-width: 600px;
}

a {
    text-decoration: none;
    color: black;

}

ul {
    list-style-type: none;

}

ol {
    list-style-type: none;
}

footer {
    height: 200px;
    padding: 40px;
    border-top: 20px solid #040404;

}


/*----header----*/
.fa-solid fa-bars {
    font-size: xx-small;

}

.fa-brands {
    font-size: 50px;

}

.logo-header {
    width: 100%;
    height: auto;
    grid-column: 1/4;
    grid-row: 1;



}

/*-----nav---------*/
.navegador {

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    justify-self: center;
}

.navegador input:checked~.boton-menu {
    background-color: #0a0a0a;
    color: #070707;
    border-color: #090909;
}

.navegador input:checked~.navegador-lista {
    display: block;
    position: fixed;
    justify-content: flex-start;
    top: 15vh;
    right: 0;
    background-color: #f9f9f9be;

}

.boton-menu {
    box-sizing: border-box;
    display: block;
    color: #525151;
    margin: 20px;
    height: 40px;
    width: 40px;
    border: 1px solid #040404;
    border-radius: 5px;
    line-height: 0.5vh;
    text-align: start;
    font-weight: bold;
    user-select: none;

}



.item-lista {
    display: block;
    list-style: none;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid grey;
}

#check-menu {
    display: none;

}


.navegador .navegador-lista {

    display: none;
}

.navegador .navegador-lista li {

    margin: 40px;
    font-size: x-large;
    border-right: 5px;

}

ul .navegador-lista {

    justify-content: baseline;
}

/*-----mediaQuery---*/
@media screen and (min-width: 768px) {
    .boton-menu {
        display: none;
    }

    .navegador .navegador-lista {
        display: flex;
        flex-direction: row;
    }

    .item-lista {
        list-style: none;
        display: inline-block;
        line-height: 8vh;
        margin: 0 0.5em;
        padding: 0 5px;
        border-bottom: 0px;
    }



}

/*-----quienes somos------*/
.seccion-inicio {
    grid-column: 2/5;

}

.presentacio {
    justify-content: center;
}

.aboutus {
    font-size: 50px;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.parrafo {
    text-align: center;
    font-style: oblique;
    font-size: large;
    border-bottom: #525151;
    border-width: 10px;
}

/*----pagina ventas*/
button {
    height: 35px;
    padding: 0%;
    margin: 5px;
    border-radius: 10px;
    border: 3px solid #525151;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botones {
    width: 200px !important;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: x-large;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;

}
.botones:hover{
    color: aqua;
}

/*grids y flex*/
.grids {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 2fr 2fr;
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: auto;
    column-gap: 10px;
    overflow: hidden;
    align-items: center;


}

.iconos-flex {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
    grid-column: 4;
    grid-row: 1;

}

.iconos-flex i {
    padding: 10px;
}